<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028876048903-0i3511fg64esblclpmsc2t897p1ev1dq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028876048903-0i3511fg64esblclpmsc2t897p1ev1dq</string>
	<key>API_KEY</key>
	<string>AIzaSyCAfe54rZZu9KdiKjfK-FRXvJFba2qGTHk</string>
	<key>GCM_SENDER_ID</key>
	<string>1028876048903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.fiap.ShoppingList</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-da404</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-da404.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028876048903:ios:83c831548b331c878028a2</string>
	<key>DATABASE_URL</key>
	<string>https://shoppinglist-da404.firebaseio.com</string>
</dict>
</plist>